div.Loading
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ffa;
    background-position: center center;
    background-image: url(../images/progress.gif);
    background-repeat: no-repeat;
}

.Progress
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255,255,160,0.5);
    background-position: center center;
    background-image: url(../images/progress.gif);
    background-repeat: no-repeat;
}

.Popup .Contents
{
    background-color: #fff;
    border-right: #3300cc 1px solid;
    border-top: #3300cc 1px solid;
    border-left: #3300cc 1px solid;
    border-bottom: #3300cc 1px solid;
}

.Popup .Title
{
    background-color: #3869ff;
    cursor: move;
    padding: 1mm;
}
.Popup .Title H1
{
    border-style: none;
    margin: 1px 0px 1px 0px;
    padding: 0px 5mm 0px 0px;
    background-color: transparent;
    text-align: left;
    font-weight: bold;
    text-transform: none;
    color: #ffffff;
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 1.25em;
}
.Popup .Body
{
    padding: 1mm;
}
.Popup .Title .ImageButton
{
    float: right;
    cursor: pointer;
}

.DimScreen
{
    background-image: url('../images/DimScreen.png');
}

.Tile
{
    border: 1px solid #777;
}

.TileBrowser .Up, .TileBrowser .Down, .TileBrowser .Plus, .TileBrowser .Minus
{
    opacity: 0.5;
}

.Directory
{
    background-position: center center;
    background-image: url('../images/folder.png');
    background-repeat: no-repeat;
}

div.Window 
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

div.Window .Toolbar
{
    position: absolute;
    top: 0pt;
    left: 0pt;
    right: 0pt;
    height: 26pt;
    background-color: #DDD;
    border-bottom: 1pt solid #AAA;
}

.Toolbar button
{
    width: 8em;
    height: 20pt;
    background-color: #AAA;
    border: 1pt solid #000000;
    text-align: center;
    padding: 3pt;
    margin: 3pt;
    font-size: 10pt;
}

.Toolbar button:hover
{
    background-color: #DDD;
    border: 1pt solid #000000;
    text-align: center;
    padding: 3pt;
    margin: 3pt;
    font-size: 10pt;
}

div.Window .Main
{
    position: absolute;
    top: 26pt;
    left: 0pt;
    right: 0pt;
    bottom: 0pt;
}
